* {
  margin: 0;
  padding: 0px;
}

body {
  overflow: hidden;
}

#inventoryPage {
  display: flex-inline;
  flex-direction: row;
}

#returnMainPage {
  position: fixed;
}

#statsSection {
  display: inherit;
  width: 60vw;
  height: 50vh;
  background-color: green;
}

#equippedSection {
  display: inherit;
  width: 30vw;
  height: 50vh;
  background-color: blue;
}
