* {
  margin: 0px;
}

#inventoryPage {
  display: flex-inline;
}

#statsSection {
  display: inherit;
  width: 60vw;
  height: 50vh;
  background-color: green;
}

#equippedSection {
  display: inherit;
  width: 39vw;
  height: 50vh;
  background-color: blue;
}
